<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joiller.gulimall.product.mapper.PmsAttrAttrgroupRelationMapper">

    <delete id="deleteBatchRelations">
        DELETE FROM `pms_attr_attrgroup_relation` WHERE
        <foreach collection="relations" item="item" separator=" OR ">
            attr_id = #{item.attrId} and attr_group_id = #{item.attrGroupId}
        </foreach>
    </delete>

</mapper>
